#home {
    background-image: url("../images/sunset-pasture.jpg");
    background-repeat: no-repeat;
    background-size: 100% 70%;
    
}

#first-column {
    margin: 10% auto 5%;
}

#home-profile-pic {
    height: 75%;
    width: 75%;
    margin: 0 auto;
}

#profile-pic {
    height: 75%;
    width: 75%;
    margin-left: 8%;
}

.nav-link {
    font-size: 3vw;
    color: gray; 
}

a:hover {
    color: brown;
}

.sub-page-column {
    margin-top: 5vh;
}

.vertical-nav {
    line-height: 10vh;
}

.side-bar {
    height: 100%;
    position: fixed;
    background-color: black;
}

.main-content {
    max-width: 60%; 
    margin:auto; 
}


#about-card {
    margin-top: 25%;
}

.form-group {
    margin-top: 5%;
}

.card-sample {
    margin-top: 5%;
    border-style: inset;
    border-width: .5vw;
}


#contact-card-header {
    color: white;
    font-size: 2vw;
    text-align: center;
}

#contact-card {
    margin: 10% 0;
}

#content-sample {
    margin-left: 45%;
}





@media only screen and (max-width: 580px) {
    .side-bar {
        position: relative;
    }
    #home-page {
        margin-top: 45%
    }
    .profile-card {
        width: 50%;
        margin: auto;
    }
    #content-sample {
        margin: auto;
    }

}
