#home {
    background-image: url("/assets/images/background_img_placeholder.jpg");
    background-repeat: no-repeat;
    background-size: 100% 70%;
    
}

#first-column {
    margin: 10% auto 5%;
}

#profile-pic {
    height: 75%;
    width: 75%;
    margin: auto;
}

.nav-link {
    font-size: 3vw;
    color: gray; 
}

a:hover {
    color: brown;
}

.sub-page-column {
    margin-top: 5vh;
}

.vertical-nav {
    line-height: 10vh;
}

